.header {
  display: flex;
  justify-content: center;
  background-color: cornflowerblue;
  border: 2px solid ;
  
  ul {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    li {
      list-style-type: none;
      text-transform: uppercase;
      border: 2px solid ;
      
    }
  }

  ul, li, h3 {
    padding: 10px;
  }
}