input {
    margin: 10px;
    padding: 20px;
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    width: 15%;
    border: 5px solid #000;
  }

// .right {
//   border: 5px solid greenyellow;
// }